.documents-container {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Align children vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
}

.confirmations-list {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Align children horizontally */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    width: 40%;
    margin-right: 30px;
}

.confirmation-item {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Align children vertically */
    align-items: center; /* Center horizontally */
    justify-content: space-between; /* Space between children */
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgba(103, 58, 183, 1);
    border-radius: 5px;
    color: rgb(56, 10, 135);
    background-color: white;
}

.pending-requests-list {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Align children horizontally */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.pending-request-item {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Align children vertically */
    align-items: center; /* Center horizontally */
    justify-content: space-between; /* Space between children */
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgba(103, 58, 183, 1);
    border-radius: 5px;
    color: rgb(56, 10, 135);
    background-color: white;
}